.header {
	margin-top: 50px;
	text-align: center;
}

header a {
	color: rgb(34,34,34);
}

nav {
	text-align: right;
}

.header-link {
	padding: 5px;
	display: inline-block;
	transition: border .2s;
	border-bottom: 2px solid #999;
	margin: 15px;
}

.header-link.active,
.header-link:hover {
	border-bottom: 4px solid rgb(34, 34, 34);
}

img.circle {
	max-width: 150px;
	border-radius: 50%;
}

img.work-snapshot {
	width: 100%;
	box-shadow: 1px 1px 2px #555;
}

.work-example {
	margin-bottom: 40px;
}

footer {
	position: relative;
	height: 75px;
}

footer > div {
	width: 100%;
}

footer > div > div {
	text-align: center;
}
