.header {
	margin-top: 50px;
	text-align: center;
}

header a {
	color: rgb(34,34,34);
}

nav {
	text-align: right;
}

img.circle {
	max-width: 150px;
	border-radius: 50%;
}

img.work-snapshot {
	width: 100%;
	box-shadow: 1px 1px 2px #555;
}

.work-example {
	margin-bottom: 40px;
}
